.DS_Store
node_modules/
dist/
.vite/
*.log
tmp/
!tmp/
tmp/*
!tmp/base/
tmp/base/*
!tmp/base/.gitkeep
release/
target/
*.dat
*.DAT
*.exe
!third_party/cnc-ddraw/cnc-ddraw config.exe
*.wav
*.bin
*.cue
*.img
*.iso
*.dmpatch
!patches/
!patches/*.dmpatch
resource-studio/public/game/*
!resource-studio/public/game/.gitkeep
resource-studio/local-game/
